<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart Page</title>
    <link href="/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <nav>


            <a href="/products">home</a>

        </nav>
    </header>
    <main>

        <div class="product-details">
            <% for (let carts of cart) { %>

                <div class="product-info">
                    <h2>product name :
                        <%= carts.product.name %>
                    </h2>
                    <p>price to product : &#36;
                        <%= carts.totalprice %>
                    </p>

                    <form class="login100-form validate-form flex-sb flex-w add-to-cart-form" action="/carts/edit"
                        method="post">
                    amount of product : <input type="number"  name="amount" min="1" step="1" placeholder="<%= carts.amount %>">
                    <input type="hidden" name="price" value="<%= carts.product.price %>">
                    <input type="hidden" name="cartId" value="<%= carts._id %>">
                    <div>
                    <button type="submit">edit</button>
                </div>
                    </form>

                    <form class="login100-form validate-form flex-sb flex-w add-to-cart-form" action="/carts/delete"
                        method="post" id="delete">

                        <input type="hidden" name="cartId" value="<%= carts._id %>">

                        <button type="submit">delete</button>

                    </form>


                </div>
                <% } %>
        </div>
        <h2>
            total price : <%= total %>
        </h2>


        </div>

    </main>


</body>

</html>